<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h2> All Users </h2>
          </div>

          <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="card">
                <div class="header">
                  <h2> List </h2>
                  <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/admin/category/add-category" >
                      <mat-icon>add_circle_outline</mat-icon>
                      <span>Add</span>
                    </button>
                    <button mat-menu-item disabled>
                      <mat-icon>delete_outline</mat-icon>
                      <span>Delete</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>refresh</mat-icon>
                      <span>Refresh</span>
                    </button>
                  </mat-menu>
                </div>
                <div class="tableBody">
                  <div class="table-responsive">
                    <table class="table display product-overview mb-30" id="support_table">
                      <thead>
                        <tr>
                          <th> ID User  </th>
                          <th> name </th>
                          <th> email </th>
                          <th> adress </th>
                          <th> country </th>
                          <th> phone </th>
                          <th> Admin </th>
                          <th> Action </th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor="let user of users" >

                          <td> {{ user._id }} </td>
                          <td> {{ user.name }} </td>
                          <td> {{ user.email }} </td>
                          <td> {{ user.adress }} </td>
                          <td> {{ user.country }} </td>
                          <td> {{ user.phone }} </td>
                          <td> {{ isAdmin(user.isAdmin) }} </td>

                          <td>
                            <button mat-icon-button class="tbl-action-btn" (click)="deleteUser()" >
                              <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'" ></app-feather-icons>
                            </button>
                          </td>

                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</section>
